# Node modules
node_modules

# Adonis directory for storing tmp files
tmp/*/*
!tmp/test/avatar.jpeg
!temp/uploads/avatar-placeholder.gif

# Environment variables, never commit this file
.env

# The development sqlite file
database/*.sqlite
